{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div>
    <div>
        <div align='center'>
            <h3>Robot VIH répond à tes questions</h3>
            <h5>100% ANONYME</h5>
        </div>

    <div class="chatbot_container">
        {% for message in messages  %}
            {% for key, value in message.items %}
                {% if  key%}
                    <div class="chatbot_message_container_left">
                        <span class="chatbot_message user-msg">{{key}}
                            <span class="chatbot_message_time">{{time}}</span>
                        </span>
                    </div>
                {% endif %}
                {% if value %}
                    <div class="chatbot_message_container_right">
                        <span class="chatbot_message bot-msg">{{value|linebreaks }}
                            <span class="chatbot_message_time">{{time}}</span>
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <form method="POST" class="form">
        {% csrf_token %}
        <div class="chatbot_bottom" align='center'>
            {{form.text_msg|add_class:"chatbot_input"|attr:"placeholder: Écris ta question ici..."}}
            <button type="submit" class="chatbox_submit">Envoyer</button>
        </div>
    </form>
    </div>
</div>
        
{% endblock content %}